<%- layout("boilerplate") %>

<body>
  <main>
    <!-- Hero section -->
    <section class="hero-page">
      <div class="hero-banner">
        <img src="/assets/alhaseeb-banner-0.png" alt="hero-banner" />
      </div>
    </section>

    <!-- About us -->
    <section class="about-us">
      <h1>Welcome to Al Haseeb Institute</h1>
      <p>
        Online Quran Academy is a spectacular platform of Online Quran Teaching
        which enables New Muslims and Children all over the world to read Quran
        with Tajweed from home. We welcome all students interested in Quran
        learning, The program includes Quran Reading (Nazra Quran), Nurani
        Qaida, Memorizing Quran, Translation and Prayers Duas with the 6 Kalimas
        You are just one click away learning from highly trained, qualified,
        dedicated male and female Quran teachers we have. Our Quran tutors are
        available to teach Quran 24/7. For free trial click here, In sha Allah
        you and your kids can start Quran learning immediately.
      </p>
    </section>

    <!-- Courses Section -->
    <section class="courses">
      <a id="courses"></a>
      <% if(courses) { %>
      <div class="course-pg-heading">
        <h2>Course Catagories</h2>
      </div>
      <div class="cards">
        <% for( let course of courses ) { %>
        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="<%= course.image %>" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title"><%= course.name %></h2>
            <div class="card-description">
              <p><%= course.description %></p>
            </div>

            <form action="/courses/<%=course. _id %>" method="get">
              <button class="card-btn primary-btn" type="_blank">
                Course Details
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </section>
    <% } %>

    <!-- encourage pg -->
    <section class="encourage-pg">
      <div class="left">
        <h2>Do You Or Your Kids Want To Learn Quran?</h2>
        <p>
          We have qualified Quran Tutors, and currently, they teach Quran to
          students of the UK, USA, AUS, and all nations. So we are teaching
          students of all age groups.
        </p>

        <div class="scroll-icons">
          <div class="icon">
            <img src="/assets/alhaseeb-encourage-0.jpg" alt="" />
          </div>
          <div class="icon">
            <img src="/assets/alhaseeb-encourage-1.jpg" alt="" />
          </div>
          <div class="icon">
            <img src="/assets/alhaseeb-encourage-2.jpg" alt="" />
          </div>
          <div class="icon">
            <img src="/assets/alhaseeb-encourage-3.jpg" alt="" />
          </div>
          <div class="icon">
            <img src="/assets/alhaseeb-encourage-4.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="right">
        <div>
          <i class="fa-solid fa-scale-balanced"></i>
          <div class="content">
            <h3>AFFORDABLE</h3>
            <p>There is no registration fee to get registered.</p>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-person-dress"></i>
          <div class="content">
            <h3>FEMALE TUTORS</h3>
            <p>
              Qualified female Quran teachers are also available for ladies and
              girls.
            </p>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
          <div class="content">
            <h3>ONE-ON-ONE CLASSES</h3>
            <p>
              Personal Quran teacher deals with the individual students in the
              class.
            </p>
          </div>
        </div>
      </div>

      <div class="consult-banner">
        <div class="content">
          <h2>Are You Interested In Free Trial?</h2>
          <p>
            You can try our Free Trial Session, No Obligation Lessons to
            Evaluate our Quran Reading Service & Teachers
          </p>
        </div>

        <form action="#" method="post">
          <input type="email" name="email" placeholder="Email" />
          <button>Get Consult</button>
        </form>
      </div>
    </section>

    <!-- Review pg -->
    <section class="course-review">
      <img src="/assets/alhaseeb-banner-1.png" alt="course_review_banner" />

      <h3>Our customers' feedback</h3>
      <div class="review-card">
        <img src="/assets/alhaseeb-review-card-0.png" alt="review-card" />
      </div>
    </section>

    <section class="detailed-about">
      <a id="about-us"></a>
      <div class="top">
        <img src="/assets/alhaseeb-aboutus-card.png" alt="aboutUs-img" />
        <div class="highlight">
          <h2 class="secondary-clr">About us</h2>
          <p>
            Al Haseeb Institute is an Online Quran Academy that offers Online
            Quran Classes to people all over the World. We seek to deliver the
            best and completely accurate comprehension of Basic Quran Reading,
            Quran with Tajweed, Quran Memorization, Tafseer e Quran, and Quranic
            Arabic on one platform with qualified, recognized Al Haseeb
            Institute instructors. In this Digital age, learning the Quran is
            not difficult. The top teachers are available to you even if you
            choose to learn at home.
          </p>

          <p>
            Al Haseeb Institute is one of the leading and legit platforms for
            learning the Quran. Any device that has Internet access may be used
            to learn the Quran Online. It might be your laptop, Tablet,
            Computer, or even your Mobile Phone. With the aid of thorough
            knowledge of Tajweed, comprehension of this esteemed text, and
            Quranic Arabic, our main focus is- on imparting the best Quranic
            interpretations.
          </p>

          <p>
            Due to its commitment to Students and its persistent attempts to
            enhance it over time, the Al Haseeb Institute has steadily soared to
            new heights in a relatively short period of time. We want to include
            as many students as we can in the charitable deed of Hifz al Quran.
          </p>
        </div>
      </div>

      <div class="bottom">
        <h2 class="secondary-clr">
          Online Quran Classes USA | Online Quran Academy | Learn Quran Online
          By Al Haseeb Institute
        </h2>

        <p>
          We are here to guide you as you embark on a journey of spiritual
          discovery with our Online Quran Classes. We know that you are eager to
          deepen your connection with the Quran. We will help you to seek a
          convenient way to Learn Quran Online from the comfort of your home.
          Our Online Quran Academy will help guide you as you learn the Quran
          Online. You can access Online Quran Classes USA from the convenience
          of your home. We hope that by the grace of ALLAH Almighty, you will
          immerse yourself in learning. With us, you can avail yourself of
          tailored classes for all levels, from Online Quran Classes For
          Beginners. Experienced, dedicated, and qualified tutors will oversee
          your progress. We will teach a comprehensive
        </p>

        <p>
          Online Quran Tutor will look after your progress as you Learn Quran
          Online. We provide flexible schedules to accommodate your busy
          lifestyle. You will learn at your own pace with recorded sessions
          available. Ejazul Quran Online Quran Academy provide engaging and
          interactive sessions to foster a sense of community. Also, we will
          give personalized attention to address individual learning needs. You
          will learn a lot through supporting and encouraging learning
          environments. We provide customized learning plans to teach Quran
          Classes For Adults.
        </p>

        <h2 class="secondary-clr">
          Learn Quran Online in USA | Online Quran Classes & Academy
        </h2>

        <p>
          So join our Online Quran Classes USA and embark on a transformative
          journey of spiritual growth. You should enroll today and Learn Quran
          Online and witness the beauty of learning the Quran with us. There are
          limited slots available. Reserve your seat now. We provide tailored
          classes for all ages and levels. We have experienced and certified
          instructors. You can learn from knowledgeable and dedicated tutors
          passionate about guiding you through the beauty of the Quran. We have
          designed structured learning paths.
        </p>

        <p>
          Online Quran Classes USA will help you discover the divine path. The
          path will help you progress through a well-designed curriculum. The
          Quran classes will nurture a gradual and profound connection with the
          Quran. Our Online Quran Academy Interactive Learning Platform will
          assist you in dynamic and participatory sessions. Our classes will
          build a sense of community and support.
        </p>
      </div>
    </section>

    <section class="services-pg">
      <h2>What you'll Learn</h2>
      <div class="services">
        <ul>
          <li>Learn Quran</li>
          <li>Learn Quran for Kids</li>
          <li>Learn Qirat Online</li>
          <li>Learn Noorani Qaida</li>
          <li>Learn Reading Quran</li>
          <li>Learn Quran Memorization (Hafiz)</li>
          <li>Learn Tajweed Rules</li>
          <li>Learn Qura with Tafseer</li>
        </ul>
      </div>
      <img src="/assets/alhaseeb-services-banner.png" alt="service-Image" />
    </section>

    <a id="sign-up"></a>
    <section class="sign-up-pg">
      <div class="left-pg">
        <h2>Why You Chose US?</h2>
        <p>WE ARE PROVIDING QURAN LESSONS WITH 100% SATISFACTION</p>
        <ul>
          <li>Noorani Qaida</li>
          <li>Quran Recitation</li>
          <li>Quran Memorization</li>
          <li>Tajweed Course</li>
          <li>Quran with Tafseer</li>
        </ul>
      </div>

      <img src="/assets/alhaseeb-signup-poster.png" alt="sign-up-model" />

      <form action="#" method="post" class="sign-up-form">
        <h3>Registration Form</h3>
        <div class="name">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" placeholder="name" />
        </div>

        <div class="email">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="email" />
        </div>

        <div class="phone">
          <label for="phone">Phone:</label>
          <input type="text" name="phone" id="phone" placeholder="phone no" />
        </div>

        <div class="message">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            placeholder="message"
          ></textarea>
        </div>

        <button>Submit</button>
      </form>
    </section>
    <!-- <br />
    <br /><br /><br /><br /><br /><br /> -->
  </main>
</body>
